Flask==3.1.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Migrate==4.0.5
Flask-WTF==1.2.1
WTForms==3.1.1
email-validator==2.1.0.post1
psycopg2-binary==2.9.9
gunicorn==21.2.0
WhiteNoise==6.6.0
python-dotenv==1.0.0
Werkzeug==3.1.0
Jinja2==3.1.2
click==8.1.7
SQLAlchemy==2.0.50
MarkupSafe==2.1.3
alembic==1.13.1
